/*
Square border tags by Myster
Inspired by LYT Mode and Prism themes
*/

body {
    --tag-border-width: 2px; /* og 0px */
    --tag-padding-x: 0.2em; /* og 0.65em */
    --tag-padding-y: 0em; /* og 0.2em */
    --tag-radius: 0.2em; /* og 2em */
    --tag-border-color: var(--color-accent-1); /* og transparent */
    --tag-border-color-hover: var(--color-accent); /* og transparent */
    --tag-color: var(--color-accent-1);
    --tag-color-hover: var(--color-accent-1);
}

.metadata-property .multi-select-pill {
    border-radius: 0.2em;
}

.metadata-property[data-property-key=tags] {
    --tag-padding-y: 0.15em;
}
